[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
geopy = "*"
pycountry = "*"
pycountry-convert = "*"
unidecode = "*"

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
